* {
  outline: 0;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* 
2d canvas에 text particle들을 렌더해야 하는 경우 
CSS style sheet에서 캔버스의 CSS 크기도 따로 지정해줘야 함.

PIXI.Renderer로 생성한 WebGL view 에서는 autoDensity라는 
option값으로 canvas의 resolution이 1보다 커질 때 CSS pixel도 그에 맞춰서 재조정하지만,
일반 2d 캔버스에서는 canvas resolution이 늘어나면 
CSS 크기를 브라우저의 100%로 따로 맞추어줘야 함.
*/
canvas {
  width: 100%;
  height: 100%;
}
